<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSH_Panel_V1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SSH_Panel_V1.Properties.Settings>
            <setting name="Hostnaam" serializeAs="String">
                <value />
            </setting>
            <setting name="Poort" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="Wachtwoord" serializeAs="String">
                <value />
            </setting>
        </SSH_Panel_V1.Properties.Settings>
    </userSettings>
</configuration>